body {
  background-color: rgb(250, 242, 233);
  font-family: 'Karla', sans-serif;
  color: rgb(50, 50, 50);
  font-size: 16px;
  line-height: 24px;
}

h1 {
  color: rgb(30, 30, 30);
  font-family: 'Poppins';
  font-size: 30px;
  line-height: 12px;
}

h2 {
  font-size: 24px;
  color: #7B0828;
}

a {
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: #b30d41;
}

.container {
  width: 800px;
  margin: 30px auto;
}

.card-white {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.btn-violet {
  background-color: blueviolet;
  padding: 15px 20px;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}

.btn-violet:hover {
  color: blueviolet;
  background-color: white;
  border: 3px solid blueviolet;
  transition: 0.3s;
}

.img-circle {
  border-radius: 50%;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline i {
  font-size: 60px;
  color: rgb(201, 201, 201);
}

.list-inline i:hover {
  color: rgb(61, 83, 92);
}

.list-inline li {
  display: inline;
  padding: 10px;
}

#intro p {
  margin-bottom: 40px;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }

  h1 {
    line-height: 30px;
  }
}
